/* Lists of stories */

.stories-list {
  margin: 20px 5px;
}

.stories-list > li {
  color: gray;
  font-size: 0.8rem;
  margin: 10px 0;
}

#stories-loading-msg {
  font-weight: bold;
  font-size: 150%;
  margin: 20px 30px;
}


/* Individual stories */

.story-link {
  color: black;
  font-size: 0.85rem;
  font-weight: normal;
  margin: 18px 0;
}

.story-link:hover {
  text-decoration: none;
}

.story-author {
  margin-left: 2em;
}

.story-user {
  display: block;
}

.star{
  /* -webkit-text-stroke: 1px #848484; */
  font-size: 9pt;
  /* pointer-events: auto; */
}

i:hover {
  cursor: pointer;
}

/* .unfav:before {
  content: "&#9734";
}

.fav:before {
  content: "\2605";
} */
